.container{
	margin-top: 50px;
}

#imageBlock > img{
	width:90%;
}

#linkedin, #github, #facebook{
	font-family: 'David Libre', serif;
	font-size: 1.5em;
	font-weight:bold;
	display: inline
}
h1 {
	font-family: 'Crafty Girls', cursive;
	font-size: 6em;
}

#socialBlock {
	margin:0 auto;
}
.row {
	text-align: center
}

#details {
	text-align: left;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 2em

}